header {
	position: relative;
	height: 325px;
	max-width: 1100px;
	margin: 0 auto;
	overflow:hidden;

	h1 {
		text-align: center;
		position: relative;
		font-size: 5em;
		z-index: 10;
		font-weight: 700;
		margin: 0;

		a {
			text-decoration: none;
		}

		.neo {
			color: $color3;
		}

		.and {
			color: $color1;
		}

		.nellie {
			color: $color5;
		}
	}

	menu.main-menu {
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 10;
		text-align: center;

		ul {
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			max-width: 1000px;


			li {
				display: inline;
				padding: 5px 0;

				a {
					text-decoration: none;
					font-family: $head_font;
					color: $color1;
					font-size: 50px;
					padding: 0 5px;
				}

				a:hover {
					text-decoration: underline;;
				}
			}

			li.current_page_item {
				font-weight: 700;
			}
		}
	}

	.circle-wrap {
		position: relative;
		top: -140px;
		z-index: -1;

	}
	
	.circle,.menu-circle {
		border-radius: 100%;
	}

	.menu-circle {
		margin: 0 auto;
		z-index: -1;

		.menu-circle01 {
			left: -200px;
			top: -80px;
			width: 250px;
			height: 250px;
			position: relative;
			background: #FFF;
		}
		.menu-circle02 {
			margin: 0 auto;
			top: -350px;
			width: 300px;
			height: 300px;
			position: relative;
			background: #FFF;
		}
		.menu-circle03 {
			top: -630px;
			left: 200px;
			width: 250px;
			height: 250px;
			position: relative;
			background: #FFF;
		}
	}

	.circle01 {
		top: -650px;
		left: -340px;
		width: 80px;
		height: 80px;
		background: $color2;
		position: relative;
		margin: 0 auto;
	}
	.circle02 {
		top: -880px;
		left: -410px;
		width: 100px;
		height: 100px;
		background:$color3;
		position: relative;
		margin: 0 auto;
	}
	.circle03 {
		top: -850px;
		left: -470px;
		width: 110px;
		height: 110px;
		background: #FFF;
		position: relative;
		margin: 0 auto;
	}
	.circle04 {
		top: -950px;
		right: -380px;
		width: 100px;
		height: 100px;
		background: #FFF;
		position: relative;
		margin: 0 auto;
	}
	.circle05 {
		top: -1260px;
		right: -420px;
		width: 125px;
		height: 125px;
		background: #FFF;
		position: relative;
		margin: 0 auto;
	}
	.circle06 {
		top: -1250px;
		right: -500px;
		width: 80px;
		height: 80px;
		background: $color4;
		position: relative;
		margin: 0 auto;
	}
	.circle07 {
		top: -1200px;
		right: -250px;
		width: 75px;
		height: 75px;
		background: $color5;
		position: relative;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1100px) {

.circle {
	display:none;
}

}

@media screen and (max-width: 768px) {

header {
	z-index: 10;
	height: auto;
	position: fixed;
	width: 100%;

	background: #000;
	
	h1 {
		margin: 0 auto;
		font-size: 30px;

		a {
			text-decoration: none;
			font-size: 30px;
			padding: 0 20%;
		}

	}

	.main-menu {
		display:none;
		ul {
			

			li {
				display: block !important;

				a {
					font-size: 35px !important;
					padding: 0 20% !important;
				}
			}
		}
	}

	.circle-wrap {
		display:none;
	}

}

}
